In [1]:
import numpy as np # 수치연산 관련 패키지
import pandas as pd # DataFrame을 다루는 데이터 전처리 패키지
from scipy import stats # statistics tools
import statsmodels.api as sm # linear models
import matplotlib.pyplot as plt # 기본 시각화 패키지
import seaborn as sns # 고급(?) 시각화 패키지 - R의 ggplot 같은겁니다.

# Seaborn 시각화 환경 세팅
sns.set_theme(style='white',
              rc = {'axes.unicode_minus': False,
                    'axes.spines.top':False,
                    'axes.spines.right':False,
                    'axes.titlesize':13,
                    'axes.titleweight':'semibold',
                    'font.family':'NanumSquare', #폰트이름 (ex. AppleGothic)
                    'font.weight':'normal'})
sns.despine(left=True, bottom=True)
sns.set_palette('tab10')

In [2]:
rawdf = pd.read_csv('./data/toolsexample5.csv')

list_newrows = []
for row in rawdf.dropna(subset=['people']).to_dict(orient='records') :
    list_newrows.extend(np.repeat(row, row['people']))

df = pd.DataFrame(list_newrows)
df.head(5)

   offer  partial  st200  dis20  ceaut  sale  people
0      1        1      0      0      0     1   500.0
1      1        1      0      0      0     1   500.0
2      1        1      0      0      0     1   500.0
3      1        1      0      0      0     1   500.0
4      1        1      0      0      0     1   500.0

In [3]:
model = sm.Logit.from_formula('sale~st200*dis20', data=df).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.223938
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   sale   No. Observations:                40000
Model:                          Logit   Df Residuals:                    39996
Method:                           MLE   Df Model:                            3
Date:                Mon, 11 Apr 2022   Pseudo R-squ.:                0.001199
Time:                        06:53:48   Log-Likelihood:                -8957.5
converged:                       True   LL-Null:                       -8968.3
Covariance Type:            nonrobust   LLR p-value:                 8.259e-05
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -2.9444      0.046    -64.173      0.000      -3.034      -2.855
st200           0.1929      0.062      3.098      0.002       0.071       0.315
dis20           0.2278      0.062      3.684      0.000       0.107       0.349
st200:dis20    -0.1590      0.085     -1.865      0.062      -0.326       0.008
===============================================================================
"""